script.
    var setId = function(val, val2, val3){
        document.forms[0].elements[0].value = val;
        document.forms[0].elements[1].value = val2;
        document.forms[0].elements[2].value = val3;
        document.forms[2].elements[0].value = val;

    }
h1 Bienvenido a CRUD de estudiantes!
#listStudents
    h1 Estudiantes
        each Student in Students
            table(border = 1)
                tr 
                    td Id: 
                    td #{Student._id}
                tr 
                    td Nombre: 
                    td #{Student.Name}
                tr 
                    td Apellido: 
                    td #{Student.LastName}
                tr  
                    td 
                        input(type="radio" name="selectStudent" onclick=`setId("${Student._id}", 
                        "${Student.Name}", "${Student.LastName}")`)
                br
#updateStudent
    form(id='form-Update' method='POST' action='updateStudent')
        div.form-group
        label(for='_Id') Id:
        input#name.form-control(type='text', name='_Id', readonly)
        div.form-group
        label(for='Name') Nombre:
        input#name.form-control(type='text', name='Name')
        div.form-group
        label(for='LastName') Apellido:
        input#name.form-control(type='text', name='LastName')
        div.form-group
        button.btn.btn-primary(type='submit') Actualizar                
#insertStudents
    form(id='form-Insert' method='POST' action='insertStudents')
        div.form-group
        label(for='Name') Nombre:
        input#name.form-control(type='text', name='Name')
        div.form-group
        label(for='LastName') Apellido:
        input#name.form-control(type='text', name='LastName')
        div.form-group
        button.btn.btn-primary(type='submit') Insertar
#deleteStudent
    form(id='form-Update' method='POST' action='deleteStudent')
        div.form-group
        label(for='_Id') Id:
        input#name.form-control(type='text', name='_Id', readonly)
        div.form-group
        button.btn.btn-primary(type='submit') Eliminar